@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root {
  --bs-primary: #A0522D;
  --soft-blue: #f1f5fb;
  --white: #ffffff;
}

*{
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

.cursor-pointer {
  cursor: pointer;
}

.logo {
  display: flex;
  align-items: center;
  gap: 5px;
  color: var(--bs-primary);
  font-weight: 700;
}

.logo img {
  width: 24px;
}

.bg-primary {
  background-color: #26201f
}

.text-primary {
  color: var(--bs-primary) !important;
}

.bg-soft-blue {
  background-color: var(--soft-blue);
}

.fs-7 {
  font-size: 14px;
}

.fs-8 {
  font-size: 12px;
}

.flex-centerbetween {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-control:focus,
.form-select:focus {
  box-shadow: none;
  border-color: var(--bs-primary);
}

.form-control,
.form-select,
.btn {
  border-radius: 0.5rem;
  padding: 10px 18px;
}

.btn-sm {
  border-radius: 0.5rem;
  padding: 6px 12px;
  font-weight: 400 !important;
}

.btn {
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.btn-quantity,
.btn-delete {
  width: 30px;
  height: 30px;
  background-color: var(--soft-blue);
}

.btn-quantity:hover {
  background-color: var(--bs-primary);
  color: var(--white);
}

.btn-primary {
  background-color: var(--bs-primary);
}

.navbar .navbar-nav .nav-item.dropdown .dropdown-item {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
}

.navbar .navbar-nav .nav-item.dropdown .dropdown-item:hover,
.navbar .navbar-nav .nav-item.dropdown .dropdown-item.active {
  background-color: var(--bs-primary);
  color: var(--white);
}

.navbar .navbar-nav .nav-item .nav-link {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px 12px;
  border-radius: 6px;
  font-size: 14px;
}

.navbar .navbar-nav .nav-item .nav-link.active,
.navbar .navbar-nav .nav-item .nav-link:hover {
  background-color: var(--bs-primary);
  color: var(--white);
}

.nav-pills a {
  color: #A0522D;
}

.nav-pills .active,
.nav-pills a:hover {
  background-color: #A0522D!important;
  color: var(--white);
}

.card {
  border-radius: 1rem;
  border: 1px solid transparent;
  transition: 0.3s all ease;
}

.card:hover {
  border-color: var(--bs-primary);
}

.card .card-title {
  font-size: 18px;
}

.table thead tr th {
  color: #6c757d;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
}

/* di data/css/style.css */
.checkout-btn {
    background-color: #A0522D;   /* warna utama */
    color: white;                /* teks putih */
    border: none;                /* hapus border default */
    box-shadow: none;            /* opsional */
}

.checkout-btn:hover {
    background-color: #A0522D;   /* warna saat hover */
    color: white;
}
